---
http_interactions:
- request:
    method: get
    uri: https://gitlab.host.com/api/v4/projects/255/repository/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - gitlab_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b645733b33caa5ab3f0a4d9f331449a9"
      Link:
      - <https://gitlab.host.com/api/v4/projects/255/repository/tags?id=255&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="first", <https://gitlab.host.com/api/v4/projects/255/repository/tags?id=255&order_by=updated&page=1&per_page=20&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"name":"1.5.0","message":"Tag to test version","target":"target","commit":{"id":"id","short_id":"short_id","title":"Add
        .gitignore","created_at":"2017-08-29T19:19:25.000Z","parent_ids":[],"message":"Add
        .gitignore","author_name":"author_name","author_email":"email","authored_date":"2017-08-29T19:19:25.000Z","committer_name":"author_name","committer_email":"email","committed_date":"2017-08-29T19:19:25.000Z"},"release":null}]'
  recorded_at: Fri, 12 Jul 2019 13:00:33 GMT
recorded_with: VCR 5.0.0
