---
http_interactions:
- request:
    method: get
    uri: https://gitlab.host.com/api/v4/projects/255/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - gitlab_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"81adcabc8015cc1d17dbd37188b136d9"
      Link:
      - <https://gitlab.host.com/api/v4/projects/255/milestones?id=255&page=1&per_page=20&state=all>;
        rel="first", <https://gitlab.host.com/api/v4/projects/255/milestones?id=255&page=1&per_page=20&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1597,"iid":2,"project_id":255,"title":"2.0.1","description":"","state":"active","created_at":"2017-07-12T15:51:32.807Z","updated_at":"2017-07-12T15:51:32.807Z","due_date":null,"start_date":null,"web_url":"https://gitlab.host.com:8083/pbu/qa-toolkit/test-target/milestones/2"},{"id":1589,"iid":1,"project_id":255,"title":"2.0.0","description":"","state":"active","created_at":"2017-07-11T08:35:49.560Z","updated_at":"2017-07-12T15:41:25.895Z","due_date":null,"start_date":null,"web_url":"https://gitlab.host.com:8083/pbu/qa-toolkit/test-target/milestones/1"}]'
  recorded_at: Fri, 12 Jul 2019 12:56:39 GMT
- request:
    method: get
    uri: https://gitlab.host.com/api/v4/projects/255/milestones/1597/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - gitlab_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"154b72a76c2c8e21b5196cff5cbd08ff"
      Link:
      - <https://gitlab.host.com/api/v4/projects/255/milestones/1597/issues?id=255&milestone_id=1597&page=1&per_page=20>;
        rel="first", <https://gitlab.host.com/api/v4/projects/255/milestones/1597/issues?id=255&milestone_id=1597&page=1&per_page=20>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":6079,"iid":3,"project_id":255,"title":"Issue 03","description":"","state":"opened","created_at":"2017-07-12T15:51:46.220Z","updated_at":"2017-07-12T15:51:46.220Z","closed_at":null,"closed_by":null,"labels":[],"milestone":{"id":1597,"iid":2,"project_id":255,"title":"2.0.1","description":"","state":"active","created_at":"2017-07-12T15:51:32.807Z","updated_at":"2017-07-12T15:51:32.807Z","due_date":null,"start_date":null,"web_url":"https://gitlab.host.com:8083/pbu/qa-toolkit/test-target/milestones/2"},"assignees":[],"author":{"id":159,"name":"author_name","username":"username","state":"active","avatar_url":"https://gitlab.host.com:8083/uploads/-/system/user/avatar/159/avatar.png","web_url":"https://gitlab.host.com:8083/username"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.host.com:8083/pbu/qa-toolkit/test-target/issues/3","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null}}]'
  recorded_at: Fri, 12 Jul 2019 12:56:39 GMT
recorded_with: VCR 5.0.0
