---
http_interactions:
- request:
    method: get
    uri: https://gitlab.readinessit.com/api/v4/projects/255/repository/tags/2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - gitlab_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d43814ae83bca1a2aa36b96a68332448"
    body:
      encoding: UTF-8
      string: '{"name":"2.0.0","message":"Release 2.0.0","target":"5e448ef60780506ac566dbc8fd76926954c2a4d6","commit":{"id":"8336c57c3399323e28ebc19fed1956c8c1779696","short_id":"8336c57c","title":"Add
        .gitignore","created_at":"2017-08-29T19:19:25.000Z","parent_ids":[],"message":"Add
        .gitignore","author_name":"author_name","author_email":"email","authored_date":"2017-08-29T19:19:25.000Z","committer_name":"author_name","committer_email":"email","committed_date":"2017-08-29T19:19:25.000Z"},"release":{"tag_name":"2.0.0","description":"description"}}'
  recorded_at: Wed, 17 Jul 2019 09:30:33 GMT
- request:
    method: delete
    uri: https://gitlab.readinessit.com/api/v4/projects/255/repository/tags/2.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - gitlab_token
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Jul 2019 09:30:34 GMT
recorded_with: VCR 5.0.0
